.copyright__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  opacity: 0.5;
}

.copyright__link {
  color: $basic-white;
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.8;
  }
}
