.logo {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--footer {
    opacity: 0.5;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 0.2;
    }
  }
}
