.main-head {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid $special-blue-mid;
}

.main-head__item {
  padding: 0 30px;

  &--personel {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    border-right: 1px solid $special-blue-light-2;
  }

  &--search {
    padding: 0;
  }

  &--alert {
    padding-right: 0;
  }
}
