.main-head {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  padding: 0 30px;
}

.main-head__item {
  &--personel {
    margin-left: auto;
  }
}

.main-head__input {
  border: none;

  &::placeholder {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: $special-blue-mid;
  }
}
