.navigation {
  height: 100%;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  @include list-none;
  height: 100%;
  padding-bottom: 10px;
}

.navigation__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 60px;
  padding-left: 62px;

  &:last-child {
    margin-top: auto;
  }

  &--active {
    background-color: $special-blue-light;

    &::before {
      @include pseudo;
      right: 100%;
      margin-right: -6px;
      width: 6px;
      height: 100%;
      background-color: $special-blue;
      border-radius: 0 9px 9px 0;
    }
  }

  &:hover,
  &:focus-within {
    background-color: $special-blue-light;
  }
}

.navigation__link {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: $special-blue-dark;

  &--active {
    font-weight: 500;
    color: $special-blue;
  }
}

.navigation__img {
  position: absolute;
  left: 30px;
  top: 20px;

  &--home {
    fill: $basic-white;
  }
}
