.navigation__list {
  @include list-none;
}

.navigation__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-left: 62px;

  &--active {
    background-color: $special-blue-light;
  }

  &:hover {
    background-color: $special-blue-light;
  }
}

.navigation__link {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: $special-blue-dark;

  &--active {
    font-weight: 500;
    color: $special-blue;
  }
}
