.page-header {
  display: grid;
  grid-template-rows: min-content 1fr;
  padding-top: 24px;
  border-right: 1px solid $special-blue-mid;
}

.page-header__logo {
  display: block;
  margin-left: 30px;
  margin-bottom: 20px;
}
