.page-header {
  display: grid;
  grid-template-rows: min-content 1fr;
  padding-top: 24px;
}

.page-header__logo {
  display: block;
  margin-left: 30px;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
