/* Color */
$basic-black: #000000;
$basic-white: #ffffff;

$special-blue-light: #f1f3fe;
$special-blue-light-2: #e4e8fc;
$special-blue: #576bcc;
$special-blue-mid: #b4bef0;
$special-blue-dark: #3c425f;
$special-orange: #ff8f0b;
$special-orange-dark: #e77b00;
$special-orange-dark-2: #9f5500;
$special-marine: #0bc4cf;
